/* height: 650px; */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 300px) {
  .contentBody {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 145px;
    margin: auto;
    background-color: #1c1c1c;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) {
  .App {
    background-color: #1c1c1c;
  }
  .contentBody {
    margin-top: 50px;
  }
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
