/* height: 650px; */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 400px) {
  .contentBody {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 145px;
    background-color: #1c1c1c;
  }
  /* .App {
    text-align: center;
    background-color: #1c1c1c;
    color: #ffffff;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
  } */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) {
  .App {
    background-color: #1c1c1c;

    /* height: 672px; */
    /* text-align: center;
    background-color: #1c1c1c;
    color: #ffffff;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    display: flex;
    align-content: center;
    align-items: center;
     */
  }
  .contentBody {
    margin-top: 50px;
  }
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
